html {
    min-height: 100vh;
    background: url(images/80s\ background.png) no-repeat center center fixed;
    background-size: cover;
    background-color: rgba(120, 120, 120, .7);
    color: #f9f2f0ff;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
}

#img {
    width: 30em;
}

.main-layout {
    display: flex;
    flex-direction: column;
    height: 175px;
    width: 50%;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 10px;
}

.header-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 25%;
    justify-items: center;
    align-items: center;
}

.login-container, .sign-up-container {
    margin-right: 5px;
}

.sign-out-container {
    margin-left: 25px;
}

.Content {
    min-height: 87vh;
}

.footer {
    flex-shrink: 0;
}

.posts-div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        'search search search'
}



