.footer {
    display: flex;
    justify-content: center;
    color: rgb(62, 73, 190);
}
.footer1 {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    color: rgb(62, 73, 190);
    padding: 18.5px;
}