
.header-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo linkOne linkTwo";
   

}
.links {
    grid-area: linkTwo;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-decoration: 1.5px underline;
}

.img {
    display: grid;
    margin-top: 5px;
    align-items: center;
}



