.header {
    display: flex;
    margin: 15px;
    flex-grow: 1;
}
.header-btns {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}
.header-btns button{
    background: #589aafff
}
#logo {
    width: 25vw;
}
.username {
    margin-right: 5px;
    display: flex;
    font-family: 'leto';
    font-size: 3vh;
    color: #f6e8a2ff;
    align-content: center;
    align-items: center;
}



