.MyPosts-container {
    height: 300px;
    width: 100%;
    overflow-y: auto;
    scrollbar-color: rgb(237, 73, 128) rgb(41, 127, 197, 0.6);
    background-color: rgb(41, 127, 197, 0.6);
    color:  #f9f2f0ff;
    padding: 8px;
    display: grid;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 30px -10px 8px rgba(158, 23, 65, 0.4);
}
.post-title{
    text-align: center;
    text-decoration: underline;
    background-color:  #2eb0dcff;
    padding: 5px;
    margin-top: -5px;
    width: auto;
}

.mine {
    margin-right: 5px;
    display: inline;
    position: relative;
    font: 25px monospace;
    letter-spacing: 1px;
    text-decoration: rgb(245, 245, 245, 0.8);
    color: rgb(177, 240, 248);
}



