.search {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100px;
}

#search {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(14, 55, 98, .5);
}

#go {
    border: none;
    border-radius: 4px;
    width: 15%;
    padding: 10px;
    background-color: rgb(6, 15, 55);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(222, 21, 9);
    cursor: pointer;
}

fieldset {
    border: none;
    border-radius: 6px;
    color: rgb(222, 21, 9);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: rgb(14, 55, 98, .3);
    
}
input[type=text] {
    border: none;
    border-radius: 6px;
    background-color: transparent;
    padding: 10px;
    width: 70%;
    color: #f9f2f0ff;
    font-size: 20px;
    padding-left: 38px;
}

.no-outline:focus {
    outline: none;
}

#search-icon {
    display: flex;
    align-items: center;
}

#search-group {
    display: grid;
    grid-column: 2;
    justify-content: center;
}

.MuiOutlinedInput-root {
    width: 350px;
}