.search {
    display: flex;
    height: 8vh;
    grid-area: search;
    justify-content: center;
    margin: 15px;
}
#search-entry{
    background: rgb(88, 154, 175, 0.5);
}

#search-icon {
    display: flex;
    align-items: center;
    
}
