.post {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: 1fr;
    color: whitesmoke;
}

#border {
    border: 1px solid #4877ce;
    border-radius: 4px;
    padding: 10px;
}

#post-info {
    grid-column: 2;
    border: 5px solid rgb(222, 21, 9);;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(14, 55, 98, .7);
    box-shadow: 5px 10px 5px rgb(61, 17, 219);
}