
.post-title{
    text-align: center;
    background-color:  rgb(2, 27, 39, .35);
    padding: 5px;
    margin-top: -5px;
    width: auto;
    color: #021b27ff;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}
.gridbox{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    width: 100%;
    height: 60vh;
    padding: 15px;
    background-color: rgba(88, 154, 175, .80);
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    border-radius: 8px;
    color: #021b27ff;
}
.gridbox1{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    width: 65%;
    height: 60vh;
    padding: 15px;
    background-color: rgba(88, 154, 175, .80);
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    border-radius: 8px;
    color: #021b27ff;
}

.gridbox::-webkit-scrollbar {
    display: none;
  }

.post-description{
    font-family: 'Teko', sans-serif;
    padding: 10px;
    font-size: 16pt;
}
.post-price .post-author-username .post-location{
    margin-left: 3em;
}





  